[submodule "thirdparty/git"]
	path = thirdparty/git
	url = https://github.com/git/git.git
[submodule "thirdparty/luajit"]
	path = thirdparty/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "thirdparty/openssh-portable"]
	path = thirdparty/openssh-portable
	url = https://github.com/openssh/openssh-portable.git
